<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch"> 
		<arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/ardrone_testworld.world"/> 
	</include> 
	<include file="$(find cvg_sim_gazebo)/launch/spawn_quadrotor.launch" > 
		<arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
	</include> 
	<include file="/home/ros/catkin_ws/src/marker_pose_detection/launch/viewpoint_estimation_genius_f100.launch"/>
	<node name="ardrone_teleop" pkg="drone_application" type="ardrone_teleop" />
	<node name="image_view" pkg="image_view" type="image_view">
		<arg name="image" value="/ardrone/bottom/image_raw" />
	</node>
</launch>