<launch>

 <arg name="droneip" default="192.168.1.1" />
 <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" args="-ip $(arg droneip)">
   <param name="navdata_demo" value="False" />
   <param name="realtime_navdata" value="True" />
   <param name="realtime_video" value="True" />
   <param name="looprate" value="30" />
 </node>

 <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/ardrone_testworld.world"/>
 </include>

 <include file="$(find cvg_sim_gazebo)/launch/spawn_quadrotor.launch" >
   <arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
 </include>

 <node name="drone_stateestimation" pkg="tum_ardrone" type="drone_stateestimation">
 </node>
 <node name="drone_autopilot" pkg="tum_ardrone" type="drone_autopilot">
 </node>
 <node name="drone_gui" pkg="tum_ardrone" type="drone_gui">
 </node>

</launch>